.Header, .Footer{
    color: firebrick;
    background-color: lightgray;
    text-align: center;
}

.Content {    
    color: whitesmoke;
    background-color: blue;
    text-align: left;
    font-size: 30px;

}

.Footer {
    font-style: italic;
}