h1{
    font-family: Verdana;
    color: white;
    background-color: pink;
    font-size: 36px;
    text-align: center;
}

/* ini paragraf */
.p2, .p3{
    font-family: Verdana;
    color: white;
    background-color: moccasin;
    font-size: 20px;
    text-align: justify; 
}



[lang="en"]{
    color: blue;
}